
#root{
  background-size: cover;
  background-color: #FFBF00;
  height: 100%;
}

html, body, #app, #app>div {
  height: 100%
}

.title-welcome{
  text-align: center;
  color: green;
  padding: 10px;
  margin: 10px;
}

.center {
  display: inline-block;
  margin: auto;
}

.my-nav-link:hover{
  border-bottom: 2px solid #64fa14 !important;
}

.title-welcome div {
  text-align: left;
}

.nav-bkgr{
  background-color: #595858 !important;
  height: 50px !important;
}

.green-bkgr{
  
  background-color: #000000;
  margin: auto;
  height: 100%;
}

img {
  margin:auto;
}

.my-table{
  background-color: #32a852;
  color: white;
  text-align: center;
}

.text-white{
  color: white;
  margin: auto;
  height: 100%;
}

.footer{
  color: white;
  margin: auto;
  height: 100%;
  text-align: right;
  
}

